.logo-font {
  font-family: 'Rancho', Georgia, serif;
}

.logo-font.top-logo {
  font-size: 120%;
  line-height: 80%;

}

.logo-font.middle-logo {
  font-size: 360%;
  line-height: 80%;
}

#caption {
  color: white;
  top: 150px;
}

#navbar-logo-container {
  text-align: center;
}
